*{
	outline:0px dashed red;
}
body,html{
	height: 100%;
	
}
body{
	position: relative;
	background-color: #f3f7ff;
}
.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;
}




div.intro{
	width:1070px;
	height: 100%;
	background-image: url('images/sky.jpg');
	background-repeat: no-repeat;
	float: left;

}
div.train{
	width:5000px;
	height: 100%;
	position: absolute;
	float: left;
	left:1060px;
}

div.intro h1{
	background-image: url('images/peter.gif');
	background-repeat: no-repeat;
	width: 550px;
	height:417px;
	text-indent: -9000px;
	float: left;
}

div.intro p.first-guide{
	margin: 330px 0 0 580px;
	background-image: url('images/thatway2.gif');
	background-repeat: no-repeat;
	width: 260px;
	height: 41px;
	text-indent: -9000px;
	background-position: 0 -123px;

}

div.intro p.first-guide:hover{
	background-position: 0 0;
}

ul.info{
	color: #598F8F;
	list-style-type: none;
	position: absolute;
	clear:both;
	top:94%;
	left:0;
	height: 25px;
	font-size: 0.8em;
}

ul.info li{
	float: left;
	padding:6px 30px 6px 10px;
}

ul.info li.tel{
	background-image: url('images/contactbg.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

ul.info li.mail{
	background-image: url('images/contactbg.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

ul.info li.little-about{
	width:600px;
	background-image: url('images/contactbg2.png');
}

ul.info li.little-about a{
	color:#3374A6;
	text-decoration: none;
	font-weight: bold;
}

ul.info li.little-about span{
	-webkit-transition: all 150ms;
}

ul.info li.little-about:hover span.first-arrow{
	margin-left: 2px;
}

ul.info li.little-about:hover span.secend-arrow{

	margin-left: 2px;
}

div.train section.outerbox{
	width: 1060px;
	float: left;
	background-image: url('images/asd.png');
}

section.outerbox div.back{
	float: left;
	width:120px;
	min-height: 300px;
	background-color:gray;
}

section.outerbox div.back h1{
	text-transform: capitalize ,uppercase;
}

section.outerbox div.next{
	float: right;
	width:120px;
}

section.outerbox div.box{
	width:800px;
	min-height: 300px;
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 40px;
	padding:10px;

}

section.outerbox div.box img{
	display: block;
	width: 798px;
	height: 276px;
	margin-bottom: 10px;
}

section.outerbox div.box article{
	width:798px;
	min-height: 250px;
}

section.outerbox article aside.task-key{
	min-height:210px;
	width:300px;
	float: right;
	background-color: #f2f2f2;
	border:1px solid #e1ebf3;
	padding:10px 15px;
}

section.outerbox article aside.task-key h3{
	font-size: 13px;
	font-weight: bold;
	font-family:tahoma;
	margin-bottom: 10px;

}

section.outerbox article aside.task-key ul{
	padding:10px;
	display: block;
	background-color: rgb(235,237,239);
	border:1px solid #e1ebf3;
}

section.outerbox article aside.task-key ul li{
	font-family:tahoma;
}


section.outerbox article div.detail{
	margin-right: 340px;
	width:450px;

}

section.outerbox article div.detail h1{
	font-family: tahoma;
	font-size: 16px;
	font-weight:bold;
	margin:10px 0 5px 0;
}

section.outerbox article div.detail p{
	margin-bottom: 5px;	
}





